/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto Slab", serif;
}

.nav-bar {
  background-color: #222222;
  width: 100vw;
  height: 65px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.nav-bar > a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.company {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.logo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #7862cf;
}

.company div > span:first-child {
  margin: 0 8px 0 16px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.company div > span:nth-child(2) {
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  color: #7862cf;
}

.main-wrapper {
  display: flex;
  height: calc(100vh - 55px);
  overflow-y: hidden;
}

/* panel-left */

.panel-left-wrapper {
  flex: 1;
  min-width: 310px;
  max-width: 425px;
  background-color: #444444;
  overflow: scroll;
  padding-bottom: 30px;
}

.panel-heading {
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 8px;
  padding: 15px;
}

.panel-left-content-wrapper {
  background-color: #4e31c2;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 15%);
  padding: 6px;
  color: #333;
  position: relative;
}

.panel-left-content {
  border-radius: 10px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 15px;
}

.panel-left-content .content-heading {
  display: flex;
  margin-bottom: 10px;
}

.panel-left-content .content-heading .circle {
  width: 50px;
  height: 50px;
  background-color: #cbc4e8;
  border-radius: 50%;
}

.panel-left-content .content-heading .current-applicant {
  margin-top: 4px;
  margin-left: 16px;
}

.panel-left-content .content-heading .current-applicant .applicant {
  font-weight: 600;
  font-size: 18px;
}

.panel-left-content .content-heading .current-applicant .meeting-time {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 15px;
}

.arrow {
  width: 15px;
  height: auto;
  padding: 0 6px 1px 6px;
}

.aspect-content {
  line-height: 20px;
}

.panel-left-content .custom-fields,
.panel-left-content .static-fields {
  font-size: 15px;
}

.panel-left-content .custom-fields {
  background-color: rgba(216, 216, 216, 0.3);
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.panel-left-content .custom-fields .aspect {
  flex: calc(50% - 15px);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding: 15px 0 12px 0;
}

.panel-left-content .custom-fields .aspect > div {
  padding: 0 15px;
}

.aspect-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  opacity: 0.6;
  margin-bottom: 4px;
}

.panel-left-content .static-fields {
  margin: 20px 0 10px;
}

.panel-left-content .static-fields .aspect {
  margin-bottom: 14px;
}

.aspect-content {
  font-size: 14px;
}

.panel-left-bottom {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.panel-left-bottom .upcoming-meeting-wrapper {
  background-image: linear-gradient(to bottom, white 0%, #dadada 200%);
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
  border-bottom: 1px #444 solid;
}

.panel-left-bottom .upcoming-meeting {
  display: flex;
  padding: 15px 15px 17px 20px;
  font-size: 14px;
}

.panel-left-bottom .upcoming-meeting .meeting-info {
  flex: 1;
}

.panel-left-bottom .upcoming-meeting .upcoming-meeting-time {
  font-size: 12px;
  padding-top: 4px;
}

.panel-left-bottom .participants-wrapper {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 5px;
}

.panel-left-bottom .participants-wrapper:hover {
  cursor: context-menu;
}

.participants-online {
  background-color: #4e31c2 !important;
}

.panel-left-bottom .participants-wrapper .participants {
  padding: 8px 10px 2px;
  position: relative;
}

.panel-left-bottom .participants-wrapper .participants .seat {
  width: 14px;
  vertical-align: -2px;
  padding-left: 2px;
  padding-right: 6px;
}

.panel-left-bottom .participants-wrapper .participants span:nth-child(2) {
  padding-top: 2px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.panel-left-bottom .participants-wrapper .participants span:last-child {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0.7;
}

.participants .tooltip-content {
  visibility: hidden;
  min-width: 165px;
  background-color: white;
  color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 0.25);
  /* Position the tooltip */
  position: absolute;
  z-index: 5;
  bottom: 130%;
  right: 0;
}

.participants .tooltip-content::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  right: 10%;
  margin-left: -5px;
  border-width: 8px 10px 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.participants:hover .tooltip-content {
  visibility: visible;
}

.participant-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 16px;
}

.participant-info .info-text {
  /* padding: 10px 18px; */
  text-align: left;
  font-size: 13px;
}

.participant-info .info-text .participant-name {
  font-weight: 500;
}

.participant-info .info-text .participant-position {
  opacity: 0.7;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.participant-info .info-join-status {
  padding-top: 5px;
}

.panel-left-bottom .join-wrapper {
  display: none;
  justify-content: center;
}

.panel-left-bottom .join-now-btn {
  flex: 1;
  background-color: #4e31c2;
  color: white;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 30px;
  padding: 8px;
  margin: 0 20px 20px;
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
}

.panel-left-bottom .join-now-btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
  transition: all 0.2s;
}

.upcoming-meeting .meeting-info .applicant {
  font-size: 14px;
  font-weight: 500;
}

/* panel-center */

.panel-center-wrapper {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 0 16px;
}

.panel-center-wrapper .btn-hamburger {
  display: none;
  background-color: transparent;
  color: rgb(102, 102, 102);
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  padding: 6px 12px;
}

.panel-center-wrapper .media-canvas-container {
  display: flex;
  background-color: #cccccc;
  color: white;
  border-radius: 15px;
  min-height: 300px;
  height: 300px;
  align-items: center;
  margin-top: 15px;
  flex: 1;
  transition: flex 0.3s;
}

.panel-center-wrapper .media-canvas {
  flex: 1;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.panel-center-wrapper .video-buttons {
  display: flex;
  justify-content: center;
  margin: 6px 0px;
}

.panel-center-wrapper .video-buttons button {
  background-color: #fff;
  color: #666;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 7px;
  margin: 0 1.5px;
  cursor: pointer;
}

.panel-center-wrapper .video-buttons button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.panel-center-wrapper .form-wrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border-top: 4px solid #555;
  border-radius: 20px;
  padding: 25px 15px;
  color: #444;
  flex: 2.5;
  transition: flex 0.3s;
}

.panel-center-wrapper .form-wrapper .form-title {
  font-size: 20px;
  font-weight: 600;
}

.panel-center-wrapper .form-wrapper .form {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.panel-center-wrapper .form-wrapper .form .criterion-label {
  padding-top: 40px;
  font-size: 14px;
}

.panel-center-wrapper .form-wrapper .form .criterion-label:first-child {
  padding-top: 30px;
}

.panel-center-wrapper .form-wrapper .form .criterion {
  border-radius: 12px;
  border: 5px solid #f1f1f1;
  padding: 10px;
  margin-top: 10px;
  min-height: 70px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  color: #777;
}

.panel-center-wrapper .form-wrapper .form .criterion:focus {
  outline: none;
}

.panel-center-wrapper .form-wrapper .form .submit-btn-container {
  display: flex;
  justify-content: center;
}

.panel-center-wrapper .form-wrapper .form .submit {
  margin-top: 35px;
  width: fit-content;
  background-color: #4e31c2;
  color: white;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  border-radius: 30px;
  padding: 8px 32px;
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 8px rgb(0 0 0 / 15%);
}

.panel-center-wrapper .form-wrapper .form .submit:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
  transition: all 0.2s;
}

/* panel-right */

.panel-right-wrapper {
  flex: 1;
  min-width: 310px;
  max-width: 425px;
  background-color: #444444;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
}

.panel-right-wrapper .buttons-wrapper {
  position: absolute;
  right: 14px;
  top: 18px;
  z-index: 1;
}

.panel-right-wrapper .buttons-wrapper .maximize-content-btn,
.panel-right-wrapper .buttons-wrapper .minimize-content-btn {
  background-color: transparent;
  color: #fff;
  opacity: 0.5;
  border-radius: 4px;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  padding: 5px 7px;
  font-size: 14px;
  cursor: pointer;
}

.panel-right-wrapper .buttons-wrapper .close-content-btn {
  background-color: transparent;
  color: #fff;
  opacity: 0.5;
  border-radius: 4px;
  border: rgba(255, 255, 255, 0.3) 1px solid;
  padding: 6px 8px 3px;
  font-size: 14px;
  cursor: pointer;
}

.panel-right-wrapper .buttons-wrapper .maximize-content-btn:hover,
.panel-right-wrapper .buttons-wrapper .minimize-content-btn:hover {
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.panel-right-wrapper .panel-right-container {
  width: 200%;
  display: flex;
  transition: all 0.4s;
}

.panel-right-wrapper .panel-right-container .level-1,
.panel-right-wrapper .panel-right-container .level-2 {
  flex: 1;
}

.panel-right-container.show {
  transform: translateX(-50%);
  transition: all 0.4s;
}

.panel-right-wrapper .panel-heading {
  display: flex;
  align-items: baseline;
}

.panel-right-wrapper .panel-heading .panel-heading-text {
  flex: 1;
}

.panel-right-nav-wrapper {
  font-family: "Roboto", sans-serif;
  border-top: 1px solid #666;
}

.panel-right-nav-wrapper > div {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #666;
  font-size: 15px;
  padding: 13px 15px;
}

.panel-right-nav-wrapper > div:hover {
  cursor: pointer;
}

.panel-right-nav-wrapper > div > span:first-child {
  opacity: 0.4;
  font-size: 16px;
}

.panel-right-nav-wrapper > div > span:nth-child(2) {
  padding-left: 10px;
  flex: 1;
  letter-spacing: 0.5px;
}

.panel-right-nav-wrapper > div > button {
  border: none;
  background-color: transparent;
  color: #fff;
  opacity: 0.3;
  padding: 5px 7px;
  font-size: 12px;
  cursor: pointer;
}

.panel-right-nav-wrapper .applicant-schedule .notification {
  background-color: #7862cf;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 12px;
  margin-right: 15px;
}

/* level-2 content-1 */

.level-2 > div {
  display: none;
}

.level-2 .content-1-container.show,
.level-2 .content-2-container.show {
  display: block;
}

.level-2 .chevron-left {
  border: none;
  background-color: transparent;
  color: #7862cf;
  font-size: 10px;
  padding-right: 12px;
  padding-bottom: 2px;
  align-self: center;
  transition: all 0.1s;
}

.level-2 .chevron-left:hover {
  border: none;
  outline: none;
}

.level-2 .panel-heading {
  border-bottom: 1px solid #666;
}

.level-2 .content-1 {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #333;
  border-radius: 12px;
  margin: 22px 16px;
  padding: 10px 0;
}

.level-2 .content-1 .cf-div:last-child {
  border-bottom: none;
}

.cf-div {
  border-bottom: 1px dashed #ddd;
  padding: 15px 15px;
}

/* level-2 content-2*/

.content-2 .schedule-wrapper {
  font-family: "Roboto", sans-serif;
  padding: 5px 15px 15px;
}

.schedule-wrapper .schedule-of-day .schedule-date {
  display: flex;
  justify-content: space-between;
}

.content-2 .schedule-wrapper .schedule-date {
  display: flex;
  align-items: baseline;
  margin-top: 22px;
  margin-bottom: 8px;
}

/*TO DO: Only make first child apply*/

.content-2 .schedule-wrapper .schedule-of-day .schedule-date:first-child {
  margin-top: 22px;
}

.content-2 .schedule-wrapper .schedule-date .schedule-date-mmdd {
  font-size: 12px;
  letter-spacing: 0.5px;
}

.content-2 .schedule-wrapper .schedule-date .schedule-date-yy {
  font-family: Times;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.content-2 .schedule-wrapper .schedule-of-day > div:not(:first-child) {
  margin-bottom: 14px;
}

.content-2 .schedule-wrapper .applicant-info {
  border-radius: 5px;
  padding: 10px;
}

.content-2 .schedule-wrapper .applicant-info .applicant-position {
  padding-top: 5px;
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
}

.content-2 .schedule-wrapper .past-schedule {
  background-color: #666;
  border-radius: 10px;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
}

.content-2 .schedule-wrapper .past-schedule .applicant-info {
  background-color: #444;
}

.content-2 .schedule-wrapper .schedule-time {
  padding: 5px 10px 15px;
}

.content-2 .schedule-wrapper .active-schedule {
  background-color: #7862cf;
  border-radius: 10px;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
}

.content-2 .schedule-wrapper .active-schedule .applicant-info {
  background: rgba(0, 0, 0, 0.3);
}

.content-2 .schedule-wrapper .upcoming-schedule {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
}

.content-2 .schedule-wrapper .upcoming-schedule .applicant-info {
  background-color: rgba(216, 216, 216, 0.3);
  border: #ddd 1px solid;
}

.content-2
  .schedule-wrapper
  .past-schedule
  > div:not(:first-child):not(:nth-child(2)),
.content-2
  .schedule-wrapper
  .active-schedule
  > div:not(:first-child):not(:nth-child(2)),
.content-2
  .schedule-wrapper
  .upcoming-schedule
  > div:not(:first-child):not(:nth-child(2)) {
  margin-top: 5px;
}

/* Active Classes */

.panel-left-bottom .ready {
  display: flex !important;
}

.expand-canvas {
  flex: 3 !important;
  transition: flex 0.3s;
}

.hide-btn {
  display: none;
}

.minimize-form {
  flex: 1 !important;
  transition: flex 0.3s;
}

.level-2 .panel-heading-hovered {
  cursor: pointer;
}

.level-2 .panel-heading-hovered .chevron-left {
  padding-left: 3px;
  padding-right: 15px;
  transition: all 0.25s ease-in;
  cursor: pointer;
}

.maximize-panel-right {
  max-width: 675px;
  flex: 2.5;
}

.panel-right-nav-wrapper > div.hovered {
  background-color: #363636;
}

.panel-right-nav-wrapper > div.hovered .nav-text-span {
  padding-left: 14px;
  transition: all 0.4s;
}

.panel-right-nav-wrapper .hovered .nav-btn-span {
  opacity: 1;
}

/* Full-Screen */
.panel-right-wrapper.full-screen {
  display: none;
}

.panel-left-wrapper.full-screen {
  height: calc(100vh - 65px);
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  padding-bottom: 0;
}

.panel-left-wrapper.full-screen .panel-left-content-wrapper {
  background-color: #fff;
  padding: 4px 2px 0;
  box-shadow: none;
}

.panel-left-wrapper.full-screen .panel-left-content {
  border-radius: 0;
  display: flex;
}

.panel-left-wrapper.full-screen .panel-left-content .content-heading {
  padding-right: 15px;
}

.panel-left-wrapper.full-screen .panel-left-content .custom-fields {
  background-color: #fff;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.panel-left-wrapper.full-screen .panel-left-content .custom-fields .aspect {
  border-left: 1px dashed #d5d5d5;
  padding: 12px 0 0;
  flex: initial;
  padding-right: 15px;
}

.panel-left-wrapper.full-screen .panel-left-bottom {
  display: flex;
  flex-wrap: nowrap;
  background-color: #444444;
  box-shadow: 0 -4px 20px rgb(0, 0, 0, 0.15);
}

.panel-left-wrapper.full-screen .panel-left-bottom .upcoming-meeting-wrapper {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 5px;
  border-right: 1px #444 solid;
}

.panel-left-wrapper.full-screen .panel-left-bottom .join-now-btn {
  padding: 8px 18px;
  margin: 16px 0 16px 20px;
}

.panel-left-wrapper.full-screen
  .panel-left-bottom
  .upcoming-meeting
  .meeting-info {
  margin-right: 20px;
}

.panel-center-wrapper.full-screen {
  position: relative;
  min-width: calc(100vw - 32px);
  max-height: calc(100vh - 220px);
  top: 80px;
}

.panel-center-wrapper.full-screen .form-wrapper .form {
  margin-bottom: 0;
}

.panel-left-wrapper.full-screen .panel-heading-wrapper {
  display: none;
}

.panel-left-wrapper.full-screen .panel-left-content .static-fields {
  display: none;
}

/* Media Query */
@media only screen and (max-width: 1200px) {
  .main-wrapper {
    display: block;
    overflow-y: hidden;
    position: relative;
  }

  .panel-right-wrapper {
    width: 310px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -310px;
    transition: all 0.3s;
  }

  .panel-right-nav-wrapper {
    font-family: "Roboto", sans-serif;
    border-top: 1px solid #444;
  }

  .panel-right-nav-wrapper > div {
    border-bottom: 1px solid #444;
  }

  .level-2 .panel-heading {
    border-bottom: 1px solid #444;
  }

  .panel-right-wrapper .maximize-content-btn {
    display: none;
  }

  .panel-right-wrapper .close-content-btn {
    display: block;
  }

  .panel-right-wrapper.show {
    display: block;
    width: 310px;
    height: calc(100vh - 55px);
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #222;
    transition: all 0.3s;
  }

  .panel-left-wrapper {
    height: calc(100vh - 55px);
    min-width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background-color: #fff;
  }

  .panel-left-content-wrapper {
    background-color: #fff;
    padding: 4px 2px 0;
    box-shadow: none;
  }

  .panel-left-content {
    border-radius: 0;
    display: flex;
  }

  .panel-left-content .content-heading {
    padding-right: 15px;
  }

  .panel-left-content .custom-fields {
    background-color: #fff;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .panel-left-content .custom-fields .aspect {
    border-left: 1px dashed #d5d5d5;
    padding: 12px 0 0;
    flex: initial;
    padding-right: 15px;
  }

  .panel-left-bottom {
    display: flex;
    flex-wrap: nowrap;
    background-color: #444444;
    box-shadow: 0 -4px 20px rgb(0, 0, 0, 0.15);
  }

  .panel-left-bottom .upcoming-meeting-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
    border-right: 1px #444 solid;
  }

  .panel-left-bottom .join-now-btn {
    padding: 8px 18px;
    margin: 16px 0 16px 20px;
  }

  .panel-left-bottom .upcoming-meeting .meeting-info {
    margin-right: 20px;
  }

  .panel-center-wrapper {
    position: absolute;
    width: calc(100vw - 32px);
    height: calc(100vh - 235px);
    top: 80px;
  }

  .panel-center-wrapper .btn-hamburger {
    display: block;
    position: absolute;
    top: -62px;
    right: 15px;
  }

  .panel-center-wrapper .btn-hamburger:hover {
    cursor: pointer;
  }

  .panel-center-wrapper .form-wrapper .form {
    margin-bottom: 0;
  }

  .form-wrapper {
    margin-top: 18px;
  }

  .panel-left-wrapper .panel-heading-wrapper {
    display: none;
  }

  .panel-left-content .static-fields {
    display: none;
  }

  .video-buttons {
    display: none !important;
  }
}
